# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
dist/

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.local
.env.development
.env.production
.env.test

# Vercel
.vercel
